<section class="hero">
  <%# <div class="hero__container"> %>
    <%# <div class="hero__message">
      <h1 class="hero-title">
        The only eCommerce platform you’ll ever need.
      </h1>

      <p class="subtitle">
        Build, customize and scale your store with no limits or license fees.
        Solidus is the free, open-source eCommerce framework for
        digitally-native brands, fast-growing online businesses and pragmatic
        developers.
      </p>
    </div> %>
    <img src="/assets/group2.png" alt="hero banner">
    <%# <iframe width="560" height="315" src="https://www.youtube.com/embed/kQHR9Ez5TfE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> %>
  <%# </div> %>
</section>
